---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="blog - MG Consulting" mobileTitle="Blog">
  <h1 class="text-3xl font-bold text-[var(--color-brand-blue)]">Blog</h1>
</Layout>