@import "tailwindcss";

:root {
  --font-main: 'Montserrat', sans-serif;
}

@theme {
  --color-brand-blue: #003B75;
  --color-brand-green: #328172;
  --color-brand-green-hover: #0b7663;

  --max-w-content: 72rem; /* 1152px */
}



body {
  font-family: var(--font-main);
}
