---
import logoMobile from "../../assets/img/logo/logo-mobile.png";
import logoDesktop from "../../assets/img/logo/logo-desktop.png";
---

<footer class="h-[250px] md:h-[143px] bg-[#f9fafb] relative">
    <a href="/" class="block">
        <!-- Logo mobile: 61x42 -->
        <img
            src={logoMobile.src}
            alt="MG Consulting"
            class="mx-auto mt-[16px] block md:hidden w-[61px] h-[42px] object-fill"
            width="61" height="42"
        />
        <!-- Logo desktop: 319x77 -->
        <img
            src={logoDesktop.src}
            alt="MG Consulting"
            class="hidden md:block w-[319px] h-[77px] object-cover ml-[110px] mt-[14px] "
            width="319" height="77"
        />
    </a>
    <nav>
        <ul class="absolute left-[1038px] top-[42px] hidden md:flex space-x-8 text-black">
            <li><a href="/" class="hover:text-[#003B75]">Inicio</a></li>
            <li><a href="/blog" class="hover:text-[#003B75]">Blog</a></li>
            <li><a href="/servicios" class="hover:text-[#003B75]">Servicios</a></li>
            <li><a href="/nosotros" class="hover:text-[#003B75]">Nosotros</a></li>
        </ul>
        <ul class="flex md:hidden flex-col items-center mt-[20px] space-y-2 text-black">
            <li><a href="/" class="hover:text-[#003B75]">Inicio</a></li>
            <li><a href="/servicios" class="hover:text-[#003B75]">Servicios</a></li>
            <li><a href="/nosotros" class="hover:text-[#003B75]">Nosotros</a></li>
            <li><a href="/blog" class="hover:text-[#003B75]">Blog</a></li>
            <li><a href="/contacto" class="hover:text-[#003B75]">Contacto</a></li>
        </ul>
    </nav>
</footer>
