---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Contacto - MG Consulting" mobileTitle="Contacto">
  <h1 class="text-3xl font-bold text-[var(--color-brand-blue)]">Contacto</h1>
</Layout>