---
import Layout from '../layouts/BaseLayout.astro';
import Button from '../components/ui/Button.astro';

---

<Layout title="Inicio - MG Consulting">
  <div class="p-8">
    <h1 class="text-4xl font-bold text-[var(--color-brand-blue)]">MG Consulting</h1>

    <Button href="/contacto" label="Agendar una consulta" />
    <Button href="/servicios" label="Ver servicios" />
</Layout>
