---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Nosotros - MG Consulting" mobileTitle="Nosotros">
  <h1 class="text-3xl font-bold text-[var(--color-brand-blue)]">Nosotros</h1>
</Layout>