---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Servicios - MG Consulting"
  mobileTitle="Servicios"
>
  <h1 class="text-3xl font-bold text-[var(--color-brand-blue)]">Servicios</h1>
</Layout>